.navbar {
  background-color: rgba(6, 4, 82, 0.674);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border-radius: 7px;
}

.link-a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}

.link-a:hover {
  color: #d0595d;
}

h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
